:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --logo-font-size: 26px;
  --logo-line-height: 1.19;
  --footer-background-color: #2f303a;
  --logo-black-color: #000000;
  --projects-button-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --border-header-color: #ececec;
  --border-projects-color: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: var(--logo-black-color);
  font-family: Raleway, sans-serif;
  font-size: var(--logo-font-size);
  line-height: var(--logo-line-height);
  text-decoration: none;
}

.logo .span {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.page-header .contacts:hover,
.page-header .contacts:focus {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
}

.page-header {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--border-header-color);
}

.header {
  display: flex;
  align-items: center;
}

.page-header .contacts {
  display: flex;
  margin-left: auto;

  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .item + .item {
  margin-left: 50px;
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--footer-background-color);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.title {
  color: var(--title-text-color);
  font-weight: 500;
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  border-color: transparent;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: 0;
}

.projects .button {
  color: var(--title-text-color);
  background-color: var(--projects-button-color);
  font-weight: 500;
  border-color: transparent;
  font-family: inherit;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.button.special {
  padding: 6px 25px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.features-title {
  display: none;
}

.feature-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--projects-button-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

/* .feature-list .icon {
  width: 270px;
  height: 120px;
  background-color: var(--projects-button-color);
}

.feature-list .icon::before {
  display: inline-block;
  content: '';
  width: 70px;
  height: 70px;
  outline: 1px solid red;
} */

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 0;
}

.feature-list .text {
  line-height: 1.71;
}

.work-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.section.team {
  background-color: var(--projects-button-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-list .member {
  background-color: var(--primary-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team-list .title {
  margin-bottom: 10px;
}

.team-list .item {
  min-width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title,
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.footer {
  background-color: var(--footer-background-color);
  color: var(--primary-bg-color);
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  color: var(--primary-bg-color);
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  padding: 0;
  margin-bottom: 9px;
  display: inline-block;
}

.footer .contacts {
  text-decoration: none;
  font-style: normal;
  color: var(--footer-contacts-color);
  display: inline-block;
  margin-bottom: 9px;
}

.projects .button:hover,
.projects .button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-family: inherit;
}

.projects .project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list .text {
  font-size: 16px;
  line-height: 1.88;
}

.filters-list.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-list .item:not(:last-child) {
  margin-right: 8px;
}

.projects-list .item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid var(--border-projects-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-list .text-block {
  padding: 24px 20px;
}
